[submodule "Runic2D/vendor/spdlog"]
	path = Runic2D/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Runic2D/vendor/GLFW"]
	path = Runic2D/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Runic2D/vendor/imgui"]
	path = Runic2D/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Runic2D\\vendor\\glm"]
	path = Runic2D\\vendor\\glm
	url = https://github.com/g-truc/glm
