[submodule "Runic2D/vendor/spdlog"]
	path = Runic2D/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Runic2D/vendor/GLFW"]
	path = Runic2D/vendor/GLFW
	url = https://github.com/glfw/glfw
